body{
	background: black;
	font-family: 'B612 Mono', Helvetica, monospace;
	color: white;
	padding: 10px;
}

#header{
	margin-top: 30px;
	text-align:center;
}
#introduction{
	text-align: left;
	vertical-align: middle;
	display: inline-block;
}

#profile-picture{
	opacity:1;
	text-align: right;
	vertical-align: middle;
	display:inline-block;
	border-radius: 25px;
}

#footer{
	text-align: center;
	position:absolute;
   	bottom:0;
   	width:98%;
   	height:60px;
}